@import '../assets/color-palate.styles.scss';

.custom-button {
  min-width: 40px;
  width: auto;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 40px;
  padding: 0 5px 0 5px;
  font-size: 15px;
  background-color: $color-light-grey;
  color: $color-black;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-radius: 7px;
  border: none;

  &:hover {
    background-color: $color-tan;
    color: $color-white;
  }

  &.inverted {
    background-color: $color-purple;
    color: $color-white;
    
    &:hover {
      background-color: $color-tan;
      color: $color-black;
    }
  }

  &.nomargin {
    margin: 0;
    padding: 0;
  }

  & img {
    width: 35px;
  }
}
