.sign-in-sign-up {
    background-color: white;
    width: 850px;
    margin: 30px auto;
    
}

.signing-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
}