@import '../../components/assets/color-palate.styles.scss';

.sign-in-sign-up {
    margin: auto;
    width: 75%;
    // height: 1500px;
    min-width: 600px;
    background-color: $color-light-grey;
    //padding: 20px 0;
    
}

.signing-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
}