@import '../assets/color-palate.styles.scss';

.goal-box {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    width: 100%;
    margin: 1px auto 10px;
    padding: 0px;
    box-shadow:inset 2px 5px 10px #555;
    border-radius:5px;
    max-height: 400px;
    overflow: scroll;

    ul {
        list-style-type: none;
        padding-left: 13px;
        margin-bottom: 10px;
        text-align: left;
        
        li {
            padding: 10px;
            font-size: 18px;
        }
    }

    .largerCheckbox { 
        margin-right: 15px;
        transform : scale(1.75)
    }
}

.goalInfoContainer {
    position:relative;
    bottom:45px;
    left: 25px;
    height:20px; 
    width: 20px; 
    float: right; 

    img {
        height:100%;
        float: right;
        opacity: 0.3
    }
}

.add-goal-button {
    height: 30px;
    padding: 0;
    margin: 0;
    width: 30px;
    overflow: hidden;
    
    & span {
        font-size: 40px;
        padding: 0px;
        margin: 0px;
        position: relative;
        top: -8px;
    }
}

.info-popup {
    position:relative;
    bottom:130px;
    right: 200px;
    background-color: var(--info);
    margin: 10px auto;
    padding: 10px;
    box-shadow: 2px 5px 10px #555;
    border-radius:5px;
    text-align: center;
    width: 200px;
    // color: var(--nav_font_main);
    border:solid black 1px;
}
