.add-goal-container {
  width: 90%;
  margin: auto;
  

    select {
        width: 100%;
        margin: 10px auto 10px;
        height: 30px;
        font-size: 20px;
    }

    input {
        width: 100%;
        margin: 10px auto 10px;
        height: 30px;
        font-size: 20px;
    }
}